/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', sans-serif;
    background-color: #f9f9f9; /* Fondo claro */
}

/* Cabecera */
header {
    background-color: #f5d10d; /* Amarillo brillante */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 75px; /* Ajustar la altura */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 333px; /* Tamaño ajustado del logo */
    object-fit: contain;
    margin-top: 18px;
    margin-left: -190px;
}

/* Menú hamburguesa */
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguesa span {
    background-color: #000;
    height: 4px;
    width: 26px;
    border-radius: 2px;
}
/*--------------------------------------------------------------------------------------------*/

/* Contenedor principal */
.main-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

/* Botones de acción en la parte superior derecha */
.buttons {
    position: absolute;
    top: 90px; /* Altura ajustada debajo de la cabecera */
    right: 20px; /* Espaciado desde el borde derecho */
    display: flex;
    gap: 10px;
}

button {
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.assign-client {
    background-color: #e6c717;
}

.status {
    background-color: #72ed2c;
    color: #0a0a0a;
}

.status.occupied {
    background-color: #fd7c7c;
}

.delete {
    background-color: #5ca2d7;
    color: #050404;
}

/* Título alinear a la derecha */
h1 {
    color: #030000;
    font-size: 25px;   /*TAMAÑO DE LA LETRA*/
    margin-bottom: 20px;
    top: 100px;
    left: 20px;
    position: absolute;
    
}

/* Fotos alineadas a la derecha */
.photos {
    position: absolute;
    display: grid;
    top: 160px;
    left: 20px;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    
}

.photo {
    background-color: #20fa94;
    color: #0a0606;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 250px;  /*mas largo la foto ancho*/
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* Botón "Editar inmueble" alineado a la derecha */
.edit-button {
    background-color: #c5bdf5;
    color: #0a0808;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 14px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin-top: 350px;  /*mover abajo el boton*/
    margin-left: 0px;   /*mover izquierda*/
    display: block;
    text-align: center;
    margin-bottom: 15px;
    
}


.edit-button:hover {
    background-color: #bcb3f7;
}

/* Estilo para el texto y el botón alinear a la derecha */
.info-text {
    position: absolute;
    top: 180px; /* Ajusta para alinearlo con el título */
    right: 960px; /* Separa del borde derecho */
    text-align: left; /* Alinea el texto a la derecha */
}

.info-text p {
    margin: 6px 0; /* Espaciado entre los párrafos */
    font-size: 16px; /* Tamaño de texto ajustado */
}

.edit-button {
    margin-bottom: 10px; /* Separación con los párrafos */
    display: inline-block;
}

/* Botón "Guardar datos" alineado a la izquierda */
.save {
    background-color: #958567;
    color: #0a0a0a;
    font-size: 16px;
    font-weight: bold;
    margin-top: 500px;
    margin-left: auto;
    margin-right: 170px;
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;
    float: right; /* Alineación a la izquierda */
}

.save:hover {
    background-color: #8ae238;
}