/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', sans-serif;
    background-color: #f9f9f9; /* Fondo claro */
}

/* Cabecera */
header {
    background-color: #f5d10d; /* Amarillo brillante */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 75px; /* Ajustar la altura */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 333px; /* Tamaño ajustado del logo */
    object-fit: contain;
    margin-top: 18px;
    margin-left: -190px;
}

/* Menú hamburguesa */
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguesa span {
    background-color: #000;
    height: 4px;
    width: 26px;
    border-radius: 2px;
}
/*--------------------------------------------------------------------------------------------*/
/* Contenedor principal */
.main-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #131212;
    font-size: 32px; /* Tamaño más grande para destacar */
    margin-bottom: 40px; /* Mayor separación del contenido */
    font-weight: bold;
    text-align: left;
    margin-left: -250px;   /*para mover a la derecha la leyenda registro de usuario*/
    margin-top: -50px;  /*para mover hacia arriba la leyenda registro de usuario*/
}

/* Contenedor de los botones */
.button-container {
    display: flex;
    flex-direction: column; /* Botones uno encima del otro */
    gap: 50px; /* Espacio entre los botones */
    align-items: center;
    margin-top: 90px;   /*para mover hacia abajo los botones*/
}

/* Botón Estudiante y Propietario */
button {
    background-color: #8af74c; /* Verde brillante */
    color: rgb(17, 15, 15);
    font-size: 25px;
    font-weight: bold;
    padding: 25px 50px;
    border: none;
    border-radius: 30px; /* Bordes más redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 250px; /* Ancho fijo para uniformidad */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

button:hover {
    background-color: #8af74c; /* Verde más oscuro al pasar el mouse */
}

/* Ajustes para el texto dentro de los botones */
button:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px #8af74c; /* Enfoque al presionar */
}